USE [master]
GO
/****** 对象:  Database [DataAcquisitionandMonitoringSystemDB]    脚本日期: 2026/6/27 15:11:44 ******/
CREATE DATABASE [DataAcquisitionandMonitoringSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataAcquisitionandMonitoringSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DataAcquisitionandMonitoringSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataAcquisitionandMonitoringSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DataAcquisitionandMonitoringSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataAcquisitionandMonitoringSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataAcquisitionandMonitoringSystemDB]
GO
/****** 对象:  Table [dbo].[devices]    脚本日期: 2026/6/27 15:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[d_id] [nvarchar](50) NOT NULL,
	[d_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[monitor_values]    脚本日期: 2026/6/27 15:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monitor_values](
	[d_id] [nvarchar](50) NOT NULL,
	[value_id] [nvarchar](50) NULL,
	[value_name] [nvarchar](50) NULL,
	[s_area_id] [nvarchar](10) NULL,
	[address] [int] NULL,
	[absolute_add] [nvarchar](50) NULL,
	[data_type] [nvarchar](50) NULL,
	[is_alarm] [int] NULL,
	[description] [nvarchar](200) NULL,
	[unit] [nvarchar](50) NULL,
	[alarm_lolo] [nvarchar](50) NULL,
	[alarm_low] [nvarchar](50) NULL,
	[alarm_high] [nvarchar](50) NULL,
	[alarm_hihi] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[storage_area]    脚本日期: 2026/6/27 15:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage_area](
	[id] [nvarchar](10) NULL,
	[slave_add] [int] NOT NULL,
	[func_code] [nvarchar](10) NOT NULL,
	[s_area_name] [nvarchar](50) NULL,
	[start_reg] [nvarchar](50) NULL,
	[length] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
